@defer {
<div class=" mt-4 grid grid-cols-1 md:grid-cols-3 gap-6 py-4 px-4">
    @for(product of products; track product.name ){
    <div class="border border-spacing-3 p-4 rounded-xl bg-slate-400">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="w-full h-60 object-cover mb-4 rounded-xl">
        <div class="h-24">
            <h2 class="text-xl font-bold">{{ product.name }}</h2>
            <p class="text-sm">{{ product.description }}</p>
            <p class="text-lg font-semibold mt-2">€{{ product.price }}</p>
        </div>

        <div class="flex justify-between">
            <button class="bg-blue-500 text-white px-4 py-2 mt-4 rounded-xl" routerLink="/product/{{ product.id }}">
                Ver detalles
            </button>
            <button class="bg-blue-500 text-white px-4 py-2 mt-4 rounded-xl" (click)="addToCart(product)">
                Añadir al carrito
                @if(getProductQuantity(product.id) > 0){
                <span class="ml-2 bg-white text-blue-500 font-bold px-2 py-1 rounded-full text-xs">
                    {{ getProductQuantity(product.id) }}
                </span>
                }
            </button>
        </div>
    </div>
    }
</div>
}