<p-menubar [model]="menuItems" class="bg-blue-600 text-white rounded-lg">
    <ng-template pTemplate="start">
        <a routerLink="/" class="font-bold text-lg text-white">Tienda</a>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex items-center space-x-4">
            <a routerLink="/products" class="hover:underline">Productos</a>
            <a routerLink="/cart" class="hover:underline">
                🛒 Carrito ({{ cartCount() }})
            </a>
            @if(!user){
            <a routerLink="/login" class="p-button">Iniciar Sesión</a>
            }
            @else{
            <a routerLink="/profile" class="p-button">Perfil</a>
            <a (click)="logout()" class="p-button">Cerrar Sesión</a>
            }

        </div>
    </ng-template>
</p-menubar>